<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="linq2db" version="1.10.2" targetFramework="net461" />
  <package id="linq2db.MySql" version="1.10.0" targetFramework="net461" />
  <package id="linq2db.t4models" version="1.10.0" targetFramework="net461" />
  <package id="MySql.Data" version="6.10.6" targetFramework="net461" />
  <package id="Shaman.DbLinq" version="1.0.1.6" targetFramework="net461" />
  <package id="Shaman.Reflection" version="1.0.0.24" targetFramework="net461" />
  <package id="Shaman.System.Linq.Expressions.Interpreter" version="1.0.1.2" targetFramework="net461" />
  <package id="Shaman.ValueString" version="1.0.2.33" targetFramework="net461" />
  <package id="System.Linq" version="4.3.0" targetFramework="net461" />
</packages>